nav.navbar.navbar-static-top.navbar-inverse
    .container-fluid
        .navbar-header
            a(href="https://github.com/Swiip/generator-gulp-angular").navbar-brand
                span.glyphicon.glyphicon-home
                span  Gulp Angular
        div(id="bs-example-navbar-collapse-6").collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(ng-href="#/") Home
                li
                    a(ng-href="#/about") About