doctype html
.container
    .row
        .col-lg-12
            h1.page-header How to use this thing
                small For the Greater Good!
            h2 Adding a new address
            ol
                li 
                    p Click on Add New Address. 
                    p It will show a modal whereIt will show a modal where you can add as many address as you want.
                li
                    p Once you added all those address, close the modal window.
                li 
                    p After that can move the markers that were created to place them whenever you want.
                    small BUG: It's not working because the position that is being reset when it recreates the marker
            h2 Removing an Address
            ol
                li
                    p Click on the delete button for that marker.

